.different {
    padding: 99px 0 80px;
}

.the__text-one {
    font-family: var(--rr);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--green);
    letter-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
}

.the__text-two {
    font-family: var(--rr);
    font-size: 49px;
    font-weight: 400;
    color: var(--green);
    max-width: 702px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 46px;
}

.color__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    height: 789px;
    width: 570px;
    background: var(--green);
    transition: 0.5s;
}

.green:hover {
    background: var(--blue);
}

.color__text {
    padding: 437px 91px 46px 112px;
}

.blue {
    height: 789px;
    width: 570px;
    background: var(--blue);
}

.blue:hover{
    background: var(--green);
}

.green__p {
    font-family: var(--rr);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 32px;
    text-align: center;
    color: var(--green);
    transition: 0.3s;
}

.crede:hover {
    color: #cfd4d8;

}

.green__text {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 94px;
    color: var(--green);
    transition: 0.3s;

}

.green__text:hover {
    color: #cfd4d8;

}


.green__text:nth-child(3) {
    margin: 0;
}



.blue__p {
    font-family: var(--rr);
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    color: var(--blue);
    margin-bottom: 32px;
    transition: 0.3s;
}


.blue__p:hover {
    color: #cfd4d8;
}

.blue__text {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--blue);
    margin-bottom: 94px;
    transition: 0.3s;
}

.blue__text:hover {
    color: #cfd4d8;
}

.blue__text:nth-child(3) {
    margin: 0;
}