.stocks {
    background: #cfd4d8;
  }
  
  .stocks__text {
    font-family: var(--rr);
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    color: var(--green);
    margin-bottom: 33px;
    max-width: 580px;
  }
  .different__text {
    padding-top: 94px;
  }
  .stoks__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .boxes {
    padding-bottom: 120px;
  }
  .stocks__text-two {
    font-family: var(--rr);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--green);
    max-width: 467px;
    margin-bottom: 58px;
  }
  .box{
    padding-bottom: 120px;
  }
  .box__one {
    height: 416px;
    width: 530px;
    background: var(--blue);
    border-bottom: 8px solid var(--green);
    position: relative;
  }
  
  .boxs__wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  
  .number__texts {
    padding: 29px 0 0 50px;
  }
  
  .number {
    font-family: var(--rr);
    font-size: 90px;
    font-weight: 400;
    line-height: 80px;
    color: var(--green);
    margin-bottom: 43px;
  }
  
  .number__text {
    font-family: var(--rr);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--green);
    max-width: 296px;
    position: relative;
    z-index: 1;
  }
  
  .box__round {
    position: absolute;
    bottom: 10%;
    margin-right: 57px;
    right: 0;
  }
  
  .box__two {
    height: 264px;
    width: 371px;
    background: #d0c2bb;
    border-bottom: 8px solid #b8a086;
  }
  
  .box__wrap {
    display: grid;
    justify-content: center;
    gap: 32px;
  }
  .yellow__wrap {
    display: flex;
    justify-content: flex-end;
  }
  .yellow__h1 {
    font-family: var(--rr);
    font-size: 86px;
    font-weight: 400;
    line-height: 80px;
    color: var(--green);
    margin-bottom: 43px;
  }
  
  .yellow__text {
    font-family: var(--rr);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: var(--green);
  }
  
  .box__third {
    height: 292px;
    width: 318px;
    background: #b961cd;
    border-bottom: 8px solid #7f3490;
  }
  
  .pink__h1 {
    font-family: var(--rr);
    font-size: 86px;
    font-weight: 400;
    line-height: 80px;
    color: #e5e8eb;
    margin-bottom: 43px;
  }
  
  .pink__text {
    font-family: var(--rr);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #e5e8eb;
    max-width: 217px;
  }
  .boxtwo__wrap {
    display: grid;
    gap: 40px;
  }
  .box__four {
    height: 388px;
    width: 530px;
    background: #134a45;
    border-bottom: 8px solid var(--blue);
    position: relative;
  }
  
  .four__h1 {
    font-family: var(--rr);
    font-size: 85px;
    font-weight: 400;
    line-height: 80px;
    color: #e5e8eb;
    margin-bottom: 43px;
  }
  
  .four__text {
    font-family: var(--rr);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #e5e8eb;
    max-width: 269px;
    position: relative;
    z-index: 1;
  }
  .boxstwo__wrap {
    margin-top: -52px;
  }
  
  .box__round-two {
    position: absolute;
    right: 0;
    bottom: 10%;
    margin-right: 64px;
  }
  
  .fall__back{
    background: #508883;
    
  }
  